


 .App  {
    height: 100vh;
    background: rgba(224,232,245,1);
    background: -moz-linear-gradient(left, rgba(224,232,245,1) 0%, rgba(186,203,232,1) 41%, rgba(130,160,211,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,232,245,1)), color-stop(41%, rgba(186,203,232,1)), color-stop(100%, rgba(130,160,211,1)));
    background: -webkit-linear-gradient(left, rgba(224,232,245,1) 0%, rgba(186,203,232,1) 41%, rgba(130,160,211,1) 100%);
    background: -o-linear-gradient(left, rgba(224,232,245,1) 0%, rgba(186,203,232,1) 41%, rgba(130,160,211,1) 100%);
    background: -ms-linear-gradient(left, rgba(224,232,245,1) 0%, rgba(186,203,232,1) 41%, rgba(130,160,211,1) 100%);
    background: linear-gradient(to right, rgba(224,232,245,1) 0%, rgba(186,203,232,1) 41%, rgba(130,160,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e8f5', endColorstr='#82a0d3', GradientType=1 );
 }


 .App .ant-layout-header{
    height:60px;
    background: #160529;
    display:flex;
    align-items:center;
    color:#FFF;
    padding:0 15px;
 }

